<% provide(:title, "Home") %>
<h1>Kevin's Site</h1>

<h2>About</h2>

<p>
Hello. I'm a soon-to-be student at UChicago, where I'll be working on a masters degree in physics. In a previous life I worked in tech, at Genius, Twitter, and Apple. You can read more about my professional life on <a href="https://www.linkedin.com/in/kevinullmann">Linked In</a>. As for the personal stuff, I love dogs, am trying to improve my chess game, and have been known to pilot a paraglider named Daisy.
</p>

<p>
This website is my personal playground for learning about web development, and hopefully it will someday contain links to my academic papers (and look a bit nicer). For now, there's not much to see here ¯\_(ツ)_/¯
</p>

<p>
Don't forget to follow me on Twitter <%= link_to "@kevosauce", "https://www.twitter.com/kevosauce" %>. I mostly tweet about politics, science, and religion, with the occassional RT for a cute animal or dumb joke.
</p>

<h2>Misc. Fun Stuff</h2>

<ul>
   <li>
   <strong> <%= link_to "Rule 110:", "/static_pages/automata" %> </strong> 
   In hopes of learning a bit of Javascript, and insipired by <%= link_to "James Somers", "http://jsomers.net/blog/110"%>, I implemented cellular automata:
   </li>

   <li>
   <strong> <%= link_to "Calculus of Datatypes:", "/static_pages/pdf" %> </strong> 
   A fun unpublished paper that I wrote in college about functional programming
   </li> 

   <li>
   <strong> <%= link_to "Nothing:", "/static_pages/nothing-poem" %> </strong> 
   A poem I wrote while staying at <%= link_to "Amma's ashram", "http://www.amritapuri.org" %>
   </li>
</ul>

